/* anavbar.css */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a3c1e2;
    color: #312e2e;
    padding: 10px 20px;
  }
  
  .optn {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links a {
    margin-left: 30px; /* Increase the left margin for more space */
    font-size: 18px;
    text-decoration: none;
    color: inherit;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .logout-btn {
    cursor: pointer;
    background-color: #fff;
    color: #007bff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }
  
  .logout-btn:hover {
    background-color: #007bff;
    color: #fff;
    transform: scale(1.05);
  }
  
  /* Add a margin-left to move the logout button to the right-hand side */
  .logout-btn {
    margin-left: 30px;
  }
  